{{/*
Copyright 2022 syzkaller project authors. All rights reserved.
Use of this source code is governed by Apache 2 LICENSE that can be found in the LICENSE file.

The list of polled trees.
*/}}

<!doctype html>
<html>
<head>
	{{template "head" .Header}}
	<title>syzbot</title>
</head>
<body>
	{{template "header" .Header}}
	<main style="margin-top: 80px;">
		<div class="container row justify-content-start" style="max-width: fit-content;">
			<div class="col col-md-12 mt-3">
				<div class="table">	
					<table class="table table-bordered table-striped table-hover small caption-top">
						<caption>
							The fixing commit must reach the following trees <a href="https://github.com/google/syzkaller/blob/master/docs/syzbot.md#bug-status-tracking" class="btn btn-outline-primary btn-sm">more info</a>:
						</caption>
						<thead class="table-light">
							<th class="text-center">URL</th>
							<th class="text-center">Branch</th>
						</thead >
						{{range $repo := .Repos}}
						<tr>
							<td scope="col" class="no-wrap-overflow-550">{{$repo.URL}}</td>
							<td scope="col">{{$repo.Branch}}</td>
						</tr>
						{{end}}
					</table>
				</div>
			</div>
		</div>
	</main>
</body>
</html>
