/* Custom Styles CSS */

/* Style for 550px width columns, to avoid text overflow */
.no-wrap-overflow-550 {
    white-space: nowrap;      /* Prevents line wrapping */
    overflow: hidden;         /* Hides any content that overflows */
    text-overflow: ellipsis;  /* Shows '...' for the hidden content */
    max-width: 550px;         /* Required: The element needs a fixed width to know where to truncate */
}

#graph_div {
	height: 85vh;
}